body{
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif"
}

.wrapper{
	background-color:green;
	margin:5px 5px 0px 5px;
	height:700px;
}

.blue{
	background-color:blue;
	height:235px;
	width:250px;
	position:relative;
	padding:15px 0 0 0;
	top:10px;
	left:200px;
}

.red{
	background-color:red;
	height:235px;
	width:250px;
	position:absolute;
	padding:15px 0 0 0;
	top:20px;
	left:1000px;
}

.yellow{
	background-color:yellow;
	height:235px;
	width:250px;
	position:relative;
	top:10px;
	left:600px;